* {
  box-sizing: border-box;
  font-family: 'Lobster', cursive;
}

body {
  height: 100vh;
}

.container {
  position: relative;
}

.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 15px;
  background-color: #333;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  padding-left: 40px;
}

.navbar h1 {
  color: #eee;
  font-size: 40px;
}

.navbar-section {
  display: flex;
  justify-content: space-around;
}

.counter {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: #b4a796;
  text-align: center;
  line-height: 40px;
  margin-right: 80px;
}

.timer {
  padding: 10px;
  width: 70px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  margin-right: 30px;
}

.hidden {
  display: none;
}

.centering-wrapper {
  position: fixed;
  left: 50%;
  top: 15%;
}

.center-popup {
  position: relative;
  width: fit-content;
  left: -50%;
  background-color: rgba(220, 220, 220, 0.7);
  border-radius: 5px;
  font-weight: 700;
  font-size: 24px;
  padding: 10px;
}

.congrats-wrapper {
  grid-template-columns: repeat(2, 200px); 
  display: flex;
  flex-direction: column;
  line-height: 1.75em;
  text-align: center;
}

.congrats-wrapper > * {
  padding-top: 20px;
}

.congrats-wrapper h1 {
  font-size: 40px;
}

.congrats-wrapper h2 {
  text-decoration: underline;
  font-size: 36px;
}

.congrats-wrapper form input {
  margin: 20px;
  line-height: 20px;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

form button {
  padding: 5px;
  font-size: 20px;
}

.top-scorer-wrapper {
  margin-left: 100px;
  margin-right: 100px;
  font-size: 24px;
  padding-bottom: 20px;
}

.top-scorer-wrapper h2 {
  padding-bottom: 20px;
}

.top-scorer {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.top-scorer div {
  font-family: 'Roboto', sans-serif;  
}

.instructions {
  width: 200px;
  height: 210px;
  padding: 20px;
  line-height: 1.75rem;
  transform: translate(-100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.instructions h2 {
  margin-bottom: 10px;
}

.instructions-btn {
  height: 75px;
  width: 150px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
}